<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/mongo     
       http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd    
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- MongoDBをつながる -->
	<!-- TODO：后续需要做加密处理 -->
	<mongo:mongo host="localhost" port="27017">
		<mongo:options connect-timeout="20000" />
	</mongo:mongo>
			
	<!-- 设置连接的数据库信息 -->
	<mongo:db-factory dbname="site16" username="root" mongo-ref="mongo" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<!-- 属性自动注入 -->
 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
 	
	<bean id="accountDao" class="site16.dao.AccountDao"/>
	<bean id="accountService" class="site16.service.AccountService"/>

	<!-- <bean id="chanelDao" class="dao.ChanelDao">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="chanelService" class="service.ChanelService">
		<property name="chanelDao" ref="chanelDao" />
	</bean>

	<bean id="productDao" class="dao.ProductDao">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="productService" class="service.ProductService">
		<property name="productDao" ref="productDao" />
		<property name="exchangeService" ref="exchangeService" />
	</bean>

	<bean id="shippingDao" class="dao.ShippingDao">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="shippingService" class="service.ShippingService">
		<property name="shippingDao" ref="shippingDao" />
	</bean>

	<bean id="groupDao" class="dao.GroupDao">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="groupService" class="service.GroupService">
		<property name="groupDao" ref="groupDao" />
	</bean>

	<bean id="popularProductDao" class="dao.PopularProductDao">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="popularProductService" class="service.PopularProductService">
		<property name="popularProductDao" ref="popularProductDao" />
		<property name="chanelDao" ref="chanelDao" />
		<property name="productService" ref="productService" />
	</bean>

	<bean id="exchangeDao" class="dao.ExchangeDao">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="exchangeService" class="service.ExchangeService">
		<property name="exchangeDao" ref="exchangeDao" />
	</bean> -->
	
	
	<!-- 可参考Code -->
	<!-- 
		 <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"> 
		<constructor-arg ref="mongo" /> <constructor-arg name="databaseName" value="admin" 
		/> </bean>

	 <mongo:db-factory dbname="admin" username="root"
		password="123456" mongo-ref="mongo" />
	
	
	
	 -->
</beans>