/* start main1 */
.main_bg1{
	border-top: 4px solid #47BEAF;
	background: #40C4B2;
}
.main1{
	padding: 2%;
}
.main1 h2{
	font-size: 2em;
	color:#ffffff;
	text-shadow: 0 1px 0 rgb(24, 141, 118);
}
/* start main */
.main_bg{
	background: #ffffff;
}
.main{
	padding: 2%;
}
/* start grids_of_3 */
.grids_of_3{
	text-align:center;
	margin: 4% 0;
}
.grid1_of_3{
	float: left;
	width: 29.333%;
	margin-left: 4.3333%;
	border: 1px solid rgb(223, 223, 223);
	position: relative;
}
.grid1_of_3:first-child{
	margin-left: 0;
}
.grid1_of_3 a{
	padding: 2%;
	display: block;
}
.grid1_of_3 img{
	margin-top: 8%;
}
.grid1_of_3 h3{
	margin: 6% 0 8%;
	font-size: 1.8em;
	color: #999999;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.grid1_of_3:hover h3,.grid1_of_3:hover h4 span{
	color: rgb(24, 141, 118);
}
.b_btm{
	position: absolute;
	width: 100%;
	border-bottom: 6px solid #3CC395;
	left: 0px;
	display: block;
	bottom: 0px;
}
.price{
	display: block;
	margin-bottom: 40px;
}
.price h4{
	font-size: 1.5em;
	color: #999999;	
}
.price h4 span{
	display: inline-block;
	font-size: 1.1em;
	background: #3CC395;
	color: #ffffff;
	padding: 8px 20px;
	margin-left: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

h2.style{
	font-size: 2em;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}
h2.top{
	margin-top: 2%;
}