@CHARSET "UTF-8";
/* start footer */
.footer_bg{
	background: #40C4B2;	
}
.footer{
	padding: 2%;
}
/* start grids_of_3 */
.grids_of_4{
	margin: 2% 0;
}
.grid1_of_4{
	float: left;
	width: 21.333%;
	margin-left: 4.3333%;
}
.grid1_of_4:first-child{
	margin-left: 0;
}
.grid1_of_4 h4{
	font-size: 1.8em;
	color: #ffffff;
}
.f_nav{
	margin-top: 4%;
}
.f_nav li{
	display: block;
}
.f_nav li a{
	font-family: 'Microsoft yahei', sans-serif;
	font-size: 1em;
	color: #fefefe;
	line-height: 1.8em;	
	text-transform: capitalize;
}
.f_nav li a:hover{
	color: #ffffff;
	text-decoration: underline;
}
/* start footer1 */
.footer_bg1{
	background: #2DA89B;	
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 34px;
	height: 34px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_move.png) no-repeat right top;
}